In [ ]:
## Exercise 2: Create a markdown cell with the title of the notebook

# Data Science Tools and Ecosystem

In [ ]:
## Exercise 11: Create a markdown cell to indicate the Authors name

## Cody Wilson

In [ ]:
## Exercise 3: Create a markdown cell for an introduction

##### Data Science Tools and Ecosystem are summarized.

In [ ]:
## Exercise 10: Insert a markdown cell to list Objectives below exercise 3

__Objectives__

- List and understand languages used in Data Science
- Understand open source tool boards commonly used in Data Science
- List and understand the strengths of various libraries used by data scientists
- Become familiar with repositories such as GitHub
- Become familiar with Jupyter Notebook and R Studios

In [ ]:
## Exercise 4: Create a markdown cell to list data science languages

__Some of the more popular languages that Data Scientists use are:__

1) Python
2) R
3) SQL
4) Julia
5) Scala

In [ ]:
## Exercise 5: Create a markdown cell to list data science libraries

__Some of the more commonly used libraries utilized by Data Scientists include:__

1) Tensorflow
2) Pandas
3) NumPy
4) Keras
5) Matplotlib

In [ ]:
## Exercise 6: Create a markdown cell with a table of Data Science Tools

| Data Science Tools |
|--------------------|
| Jupyter Notebook |
| R Studio |
| Spyder |

In [ ]:
## Exercise 7: Create a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python.

In [ ]:
## Exercise 8 - Create a code cell to multiply and add numbers

In [1]:
## This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [ ]:
## Exercise 9: Create a code cell to convert minutes to hours

In [2]:
## This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335